# kustomization.yaml
resources:
  - operator.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args
        value: [
            "--msi", $CLUSTER_CLIENT_ID,
            "--tenant-id", $ARM_CLIENT_TENANT_ID,
            "--location", $RG_LOCATION,
            "--dns-zone-ids", "$DNS_ZONE_IDS",
            "--cluster-fqdn", "$CLUSTER_FQDN"
          ]
    target:
      kind: Deployment