name: E2E Test Matrix

on:
  workflow_call:
    inputs:
      checkout_ref:
        type: string
        required: true
      status_ref:
        type: string
        required: true

env:
  status-name: e2e-tests

jobs:
  start_status:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.7
      with:
        ref: ${{ inputs.checkout_ref }}

    - uses: ./.github/actions/start-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}

  plan_infra:
    needs: [start_status]
    runs-on: ubuntu-latest
    outputs:
       matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.7
        with:
          ref: ${{ inputs.checkout_ref }}
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '~1.25'
          cache-dependency-path: "**/*.sum"
      - run: |
          go run ./cmd/e2e/main.go matrix
        id: matrix

  test:
    needs: [plan_infra]
    strategy:
      fail-fast: false # this is false because we usually want to retry at individual infra level if there is a failure and it helps to see if only one infra is failing
      matrix: ${{ fromJson(needs.plan_infra.outputs.matrix) }}
    uses: ./.github/workflows/provision-test.yaml
    with:
      name: ${{ matrix.name }}
      ref: ${{ inputs.checkout_ref }}
    secrets: inherit

  end_status:
    if: always()
    needs: [test]
    strategy:
      fail-fast: false # we want to always report the status
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.7
      with:
        ref: ${{ inputs.checkout_ref }}

      # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/accessing-contextual-information-about-workflow-runs#steps-context
      # it would be preferable to check the inverse of the if below by comparing solely to 'success' but there's no way to do that with a wildcard and the current
      # set of GitHub workflow functions
    - if: >-
        ${{
          contains(needs.*.result, 'failure') ||
          contains(needs.*.result, 'cancelled') ||
          contains(needs.*.result, 'skipped')
        }}
      run: exit 1 # will make status show as failure

    - if: always()
      uses: ./.github/actions/end-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
