name: Generation Tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        type: string
        required: true
      status_ref:
        type: string
        required: true

env:
  status-name: generation-tests

jobs:
  generation-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta
      with:
        ref: ${{ inputs.checkout_ref }}

    - uses: ./.github/actions/start-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
        
    - name: Generate CustomResourceDefinition files 
      run: make crd
    
    - name: Ensure no CustomResourceDefinition changes
      run: |
        if [[ -n $(git status --porcelain) ]]; then
         echo "CustomResourceDefinition files need to be regenerated. Run \`make crd\` locally and commit the changes."; 
         exit 1;
        fi
    
    - if: always()
      uses: ./.github/actions/end-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
