name: Unit Tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        type: string
        required: true
      status_ref:
        type: string
        required: true

env:
  status-name: unit-tests

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta
      with:
        ref: ${{ inputs.checkout_ref }}

    - uses: ./.github/actions/start-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
      
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: '~1.25'
        cache-dependency-path: "**/*.sum"

    - name: Create kubebuilder directory
    # The default location for the etcd and kube-apiserver binaries is /kubebuilder/bin
      run: sudo mkdir -p /usr/local/kubebuilder/bin

    - name: Install etcd
      run: |
        wget -q https://github.com/etcd-io/etcd/releases/download/v3.5.0/etcd-v3.5.0-linux-amd64.tar.gz
        tar xzf etcd-v3.5.0-linux-amd64.tar.gz
        sudo mv etcd-v3.5.0-linux-amd64/etcd /usr/local/kubebuilder/bin/

    - name: Install kube-apiserver
      run: |
        wget -q https://storage.googleapis.com/kubernetes-release/release/v1.22.2/bin/linux/amd64/kube-apiserver
        chmod +x kube-apiserver
        sudo mv kube-apiserver /usr/local/kubebuilder/bin/

    - name: Run Unit Tests
      run: go test -race -v ./... -coverprofile=unfiltered.coverage.out

    - name: Filter out coverage files
      run: grep -v -E -f .covignore unfiltered.coverage.out > coverage.out

    - name: Coveralls
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b #v2.3.6
      with:
        flag-name: unit-test
        path-to-lcov: coverage.out
        format: golang
        git-commit: ${{ inputs.status_ref }}

    - if: always()
      uses: ./.github/actions/end-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
