name: Unit Tests

on:
  workflow_call:
    inputs:
      ref:
        type: string
      skipRefCheck:
        type: boolean
        default: true

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.ref }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ~1.20.0

    - name: Run Unit Tests
      if:
        (github.event_name == 'repository_dispatch' &&
        github.event.client_payload.slash_command.args.named.sha != '' &&
        contains(github.event.client_payload.pull_request.head.sha, github.event.client_payload.slash_command.args.named.sha)) ||
        inputs.skipRefCheck
      run: go test -race -v ./...

    - name: Ensure ref
      uses: actions/github-script@v6
      if: ${{ !(github.event_name == 'repository_dispatch' && github.event.client_payload.slash_command.args.named.sha != '' && contains(github.event.client_payload.pull_request.head.sha, github.event.client_payload.slash_command.args.named.sha)) || inputs.skipRefCheck)) }}
      with:
        script: core.setFailed('Ref is not latest')

