name: Unit Tests

on:
  workflow_call:
    inputs:
      checkout_ref:
        type: string
        required: true
      status_ref:
        type: string
        required: true

env:
  status-name: unit-tests

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.1.7
      with:
        ref: ${{ inputs.checkout_ref }}

    - uses: ./.github/actions/start-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
      
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '~1.25'
        cache-dependency-path: "**/*.sum"

    - name: Create kubebuilder directory
    # The default location for the etcd and kube-apiserver binaries is /kubebuilder/bin
      run: sudo mkdir -p /usr/local/kubebuilder/bin

    - name: Install etcd
      run: |
        wget -q https://github.com/etcd-io/etcd/releases/download/v3.5.0/etcd-v3.5.0-linux-amd64.tar.gz
        tar xzf etcd-v3.5.0-linux-amd64.tar.gz
        sudo mv etcd-v3.5.0-linux-amd64/etcd /usr/local/kubebuilder/bin/

    - name: Install kube-apiserver
      run: |
        wget -q https://storage.googleapis.com/kubernetes-release/release/v1.22.2/bin/linux/amd64/kube-apiserver
        chmod +x kube-apiserver
        sudo mv kube-apiserver /usr/local/kubebuilder/bin/

    - name: Run Unit Tests
      run: go test -race -v ./... -coverprofile=unfiltered.coverage.out

    - name: Filter out coverage files
      run: grep -v -E -f .covignore unfiltered.coverage.out > coverage.out

    - name: Coveralls
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e #v2.3.7
      with:
        flag-name: unit-test
        path-to-lcov: coverage.out
        format: golang
        git-commit: ${{ inputs.status_ref }}

    - if: always()
      uses: ./.github/actions/end-status
      with:
        name: ${{ env.status-name }}
        ref: ${{ inputs.status_ref }}
